<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a *ngIf="user" class="nav-item nav-link" routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a *ngIf="user" class="nav-item nav-link" routerLink="/another-home" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Another Home</a>
        <a class="nav-item nav-link" routerLink="/view-encapsulation" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">View Encapsulation Demo</a>
        <a *ngIf="user" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert (click)="onAlertClicked($event)"></alert>
    <router-outlet></router-outlet>
</div>