/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

div.code-block {
    background: grey;
    color: white;
    padding: 6px;
    border: black 2px solid;
}

/* Style for override in global*/
div.view-encapsulation-demo p {
    color: grey;
    border: grey 2px solid;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
}